/* Box Model Hack */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

nav > * {
float: left;
list-style: none;
}

nav ul {
width: 700px;
margin: 5px 100px 5px 200px;
}

nav li {
float: left;
padding: 0 20px;
}

a {
    color: black;
    text-decoration: none;
}

ul > * {
    text-align: center;
}

.main {
    background-color: lightgreen;
    padding: 100px;
}

.main h1 {
    font-size: 60px;
}

.main > * {
    width: 600px;
    display: block;
}

#main-btn {
    width: 200px;
}

#main-img {
    width: 200px;
    height: auto;
    margin-top: 60px;
}

.grid {
    background-color: skyblue;
}

.grid section {
    float: left;
    width: 33.3333%;
}

.momentum {
    background-color: coral;
}

.momentum section {
    float: left;
    width: 50%;
}