* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: 2px solid black;
    clear: both;
}

.float section {
    float: left;
    border: 2px solid black;
    height: 400px;
}

#col-1, #col-3, #col-4 {
    width: 16.666%;

}

#col-2 {
    width: 50%;
}